/* product-detail.component.css */

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  td:nth-child(5) { /* Images column */
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    margin: 5px;
  }
  
  img {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  